* {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
}

.bar {
  height: 12vh;
  width: 100%;
  background-color: rgb(61, 112, 92);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 35%;
  width: 15%;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: animation1 4s;
  margin-left: 10px;
  border-radius: 15px;
}

@keyframes animation2 {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animation1 {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
menu {
  height: 85%;
  width: 25%;
  background-color: #312424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
menu a {
  color: #fff;
  text-decoration: none;
}
menu button {
  border-radius: 15px;
  padding: 1vh;
  width: 14vh;
  box-shadow: 10px;
  background-color: rgb(11, 88, 160);
  color: #fff;
  transform: translateY(5px);
  font-size: 1.1rem;
  animation: pulseButton 3s infinite;
}
@keyframes pulseButton {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
}

.baniere {
  height: 25vh;
  width: 100%;
  color: #fff;
  background-color: blue;
  background-size: cover;
  text-align: center;
  font-family: cooper black;
  justify-content: center;
  animation: pulseBackground 5s infinite alternate;
}
.baniere p {
  font-size: 120px;
  animation: lumiereButton 5s infinite;
}

/* @keyframes pulseBackground {
  0% {
    background-color: #b0a6a6;
  }
  100% {
    background-color: #ffc107;
  }
} */
@keyframes lumiereButton {
  0%, 20%, 50%, 80%, 100% {
    color: #fff;
  }
  25%, 55% {
    color: #ffc107;
  }
  45%, 75% {
    color: #17a2b8;
  }
  70%, 95% {
    color: #28a745;
  }
  90% {
    color: #dc3545;
  }
}
.content .research {
  height: 15vh;
  width: 100%;
  background-image: url(../images/girl-6398258__340.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content .research input {
  height: 5vh;
  width: 20%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
  border-radius: 15vh;
  animation: changementdetaille 5s ease-out infinite;
}
@keyframes changementdetaille {
  0%, 100% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
}
.content .articleelement {
  height: 50vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
}
.content .articleelement .categoriBox {
  height: 50vh;
  width: 20%;
  background-color: rgb(231, 212, 189);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.content .articleelement .categoriBox nav {
  height: 100%;
  width: 80%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.content .articleelement .categoriBox nav ul {
  list-style-type: none;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.content .articleelement .categoriBox nav ul li {
  margin: 10px 0;
  transition: transform 0.3s ease-in-out;
}
.content .articleelement .categoriBox nav ul li:hover {
  transform: scale(1.1);
}
.content .articleelement .categoriBox nav ul li a {
  color: #312424;
  font-size: 1.3rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.content .articleelement .categoriBox nav ul li a:hover {
  color: blue;
}
.content .articleelement .articleBox {
  height: 50vh;
  width: 75%;
  background-color: rgb(165, 68, 192);
}
.content .articleelement .articleBox .toparticle {
  min-height: 60vh;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .articleelement .articleBox .toparticle .toparticlecard {
  height: 85%;
  width: 60%;
  background-color: tomato;
}
.content .articleelement textarea {
  border: #000 2px solid;
  box-shadow: #000 5px;
  border-radius: 3px;
  position: relative;
}
.content .articleelement .articlelist {
  height: 50vh;
  width: 100%;
  background-color: moccasin;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2vh;
}
.content .articleelement .articlelist .articleList_card {
  height: 35vh;
  width: 60vh;
  background-color: peru;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.content .articleelement .articlelist .articleList_card .articleList_card_img {
  height: 100;
  width: 100%;
  background-color: blue;
}
.content .articleelement .articlelist .articleList_card .articleList_card_title {
  height: 15%;
  width: 100%;
  background-color: black;
}

footer {
  top: 1250px;
  background-color: rgb(98, 90, 90);
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
  display: flex;
  justify-content: space-between;
}
footer section {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  list-style: none;
}
footer section ul {
  list-style: none;
  margin-left: 60px;
  margin: 20px;
}
footer section ul li {
  margin: 15px;
}
footer section ul li:hover {
  transform: scale(1.2);
  color: rgb(121, 197, 70);
  animation: rotationtext 3s;
}
@keyframes rotationtext {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
}

.mainarticleBox {
  height: 50vh;
  width: 75%;
  background-color: rgb(165, 68, 192);
}
.mainarticleBox .mainarticle {
  min-height: 60vh;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainarticleBox .mainarticle .mainarticlecard {
  height: 85%;
  width: 60%;
  background-color: tomato;
}
.mainarticleBox .mainarticlelist {
  height: 50vh;
  width: 100%;
  background-color: moccasin;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2vh;
}
.mainarticleBox .mainarticlelist .mainarticlearticleList_card {
  width: 25%;
  height: 150px;
  background-color: peru;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.mainarticleBox .mainarticlelist .mainarticlearticleList_card .mainarticlearticleList_card_img {
  height: 100%;
  width: 100%;
  background-color: blue;
}
.mainarticleBox .mainarticlelist .mainarticlearticleList_card .mainarticleList_card_title {
  height: 15%;
  width: 100%;
  background-color: black;
}
.mainarticleBox .comment {
  background-color: #000;
}
.mainarticleBox .comment h3 {
  cursor: pointer;
  font-size: 15px;
  color: #fff;
}
.mainarticleBox .comment .comment_box {
  background-color: rgb(233, 147, 196);
  transition: transform 500ms;
  transform-origin: top left;
}
.mainarticleBox .comment .comment_box .comment_box_form {
  background-color: #472d2d;
}
.mainarticleBox .comment .comment_box .comment_box_listcomment {
  /* background-color: #009705; */
  color: black;
}
.mainarticleBox .comment .comment_box .comment_box_listcomment .comment_card {
  min-height: 15hv;
  height: 20vh;
  width: 20vh;
  background-color: rgb(213, 213, 224);
  margin: 2vh;
  border-radius: 5vh;
  border: #17a2b8 5px solid;
}

.open {
  transform: scale(1);
}

.close {
  transform: scale(0);
}

form {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}
form .pagecontainer {
  text-align: center;
  margin-bottom: 20px;
}
form .pagecontainer .pagetitle {
  font-size: 24px;
  color: #333;
}

.article-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}
.article-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.article-form select, .article-form input, .article-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.article-form textarea {
  resize: vertical;
}
.article-form .buttons {
  display: flex;
  justify-content: space-between;
}
.article-form .buttons button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.article-form .buttons button#cancelbtn {
  background-color: #ccc;
}
.article-form .buttons button#cancelbtn:hover {
  background-color: #bbb;
}
.article-form .buttons button#savebtn {
  background-color: #4caf50;
  color: #fff;
}
.article-form .buttons button#savebtn:hover {
  background-color: #45a049;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
